<h3>Frodo Baggins {{ demo_variable|default('') }}</h3>

<p>
    Frodo is introduced in The Fellowship of the Ring as the adoptive heir of
    Bilbo Baggins. The chapter "A Long-expected Party" relates that Frodo's
    parents Drogo Baggins and Primula Brandybuck had been killed in a boating
    accident when Frodo was 12.
</p>
<p>
    Frodo subsequently spent the next nine years living with his maternal family,
    the Brandybucks in Brandy Hall. At the age of 21 he was adopted by his cousin,
    Bilbo, who brought him to live at Bag End. He and Bilbo shared the same birthday,
    the 22nd of 'September'.
</p>
<p>
    It was Bilbo who introduced the Elvish languages to Frodo,
    and they often shared long walking trips together.
</p>