{% set navs = {
    index: 'Home',
    tags: 'Tags',
    variables: 'Variables',
    concatenation: 'Concatenation',
    filters: 'Filters',
    'if-statements': 'If Statements',
    'advanced-ifs': 'Advanced Ifs',
    fors: 'For Loops',
    includes: 'Includes',
    blocks: 'Blocks'
} %}

<nav class="container">
    <ul class="nav nav-tabs">
        {% for url, title in navs %}

            <li role="presentation" {% if active_page == url
            %}class="active"{% endif %}>
            <a href="./?page={{ url }}">
                {{ title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
