{% extends 'page.twig' %}

{% block content %}
    <div class="container">
        <p class="lead">
            Learning Twig with a Lord of the Rings Vibe
        </p>
        <img class="img-responsive" src="./assets/castle.jpg" alt="castle ruins">
        <p>
            <small><em>
                *The above image actually has nothing to do with LotR.
                It was a freebie on Pixabay.
            </em></small>
        </p>
    </div>

{% endblock %}