/* latin */
@font-face {
    font-family: 'IM Fell DW Pica';
    font-style: italic;
    font-weight: 400;
    src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url(https://fonts.gstatic.com/s/imfelldwpica/v6/W81bfaWiUicLSPbJhW-ATg4Knk7z9oUsSJj2UNigjc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    background: url('parchment.jpg') 50% 0 repeat;
    background-size: cover;
    font-size: 21px;
    font-family: Open Sans, Helvetica Neue, serif;
    font-weight: bold;
}

.lead {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: IM Fell DW Pica, Garamond, serif;
    color: #3a2a1d;
    opacity: .9;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}

pre code {
    font-size: 21px;
    font-family: Menlo, "Lucida Grande", Monospaced;
}

.nav a {
    font-size: .7em;
}

.well {
    background: rgba(155, 119, 90, 0.25);
    border: 0 none;
}

a {
    color: #693407;
    text-decoration: underline;
}
a:focus,
a:hover {
    color: #321809;
    text-decoration: none;
    outline: 1px solid #321809;
}

@media (min-width: 1900px){
    body {
        font-size: 28px;
    }
    .container {
        width: 1850px;
    }
}